## 04 de noviembre del 2021

# Tipos de datos estructurados de python

1. listas 
2. Tuplas
3. diccionarios 
4. conjuntos

# Listas 

- Tipo de dato que agrupa variables o valores 
-Estructura secuencial (undexados empezando por 0)
- Se declara de dos formas #
    - usando []
    -usando list()
    -usando un generador
- puede contener tipos de datos diversos (en otors lenguajes programacion esos no es posible de forma directa)
-Los elementos internos se seleccionan con [ ]
-Soporta slicing 
- SON MUTABLES 
_GENERADORES [var for x in range(10)]
- Al ser una clase contiene muchos metodos utiles

In [16]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[ -1] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [17]:
# tipos diversos 

cosas = [12, 2, True ,"Jose", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1] )
print( cosas[ 4 ])
print( cosas [ 5 ])
print( cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper() #upper es para poner en mayusculas 
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [26]:
numeros =[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing 
#1. 4 al 8 
print( numeros [3:8])
#2.  [9,10]
print(numeros [-3:-1])
#3. imprimir la lsita en orden inverso [11,10,9,etc,1]
print(numeros[::-1])  #indexado negativo 
print(numeros[::1])   #indexado positivo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
# Crear una lista con un generador 
numeros =[x*3 for x in range(101) ] # el for es un generador 
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# funcion rango()

tienen los mismo componentes que slicing 
ini , stop , incremento 
range(1,101,1)

In [30]:
numeros =[x for x in range(50, 101, 2) ] # patra empezar de un numero que quieras lo pones al principio 
print(numeros)                           # el ultimo numero 2 es como quieres que vaya

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# metodos disponibles de las listas

In [31]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

count: recibe un valor cuantos elementos coinciden 
extend: contatenar listas 
index  los busca 
insert: resive dos variables 
pop: toma el ultimo elemnto y lo quita de la lsita y lo regresa
remove: hace lo contario que insert quieta el elelmnto y si mueves a la izquierda lo mueve 
reverse: las pone en orden ineverso de lista 
sort:

In [52]:
numeros =[4,1,15,8,22,34,50 ]
print(numeros )
numeros.append(99) # se agrego el numero 99
print(numeros )
#numeros.clear() hacerlos con este metodo 
#numeros = [ ]
print(numeros )

frutas =["uvas","kiwi","manzana" ]
copia = frutas 
print( frutas)
print(copia )
frutas.append("naranja")
print(frutas)
print(copia)

#esta uya hace una copia independientede la lista original esta ya no est afectada 
colores = ["rojo","azul","blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("numero de veces que aparce el 15=", numeros.count(15))

#extend 

nombres=["jose", "pedro", "karina"]
otrosNombres =["josue","diana", "dalia"]
print(nombres)
print(otrosNombres)

nombre = nombres + otrosNombres
print(nombres)
print(otrosNombres)


#lo mismo con el metodo extend 
otrosNombres.extend(["jesus","maria","jose"])
print(otrosNombres)
print("jesus esta en la posiscion:", otrosNombres.index("jesus") )
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numero de veces que aparce el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
jesus esta en la posiscion: 3
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria']
jose