<a href="https://colab.research.google.com/github/SayuriHR/CyP2_1157/blob/main/Fundamentos2_Cyp_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04 de noviembre del 2021

# Tipos de datos estructurados de python

1. listas 
2. Tuplas
3. diccionarios 
4. conjuntos

# Listas 

- Tipo de dato que agrupa variables o valores 
-Estructura secuencial (undexados empezando por 0)
- Se declara de dos formas #
    - usando []
    -usando list()
    -usando un generador
- puede contener tipos de datos diversos (en otors lenguajes programacion esos no es posible de forma directa)
-Los elementos internos se seleccionan con [ ]
-Soporta slicing 
- SON MUTABLES 
_GENERADORES [var for x in range(10)]
- Al ser una clase contiene muchos metodos utiles

In [ ]:
numeros = [10, 5, 2, 3, 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[ -1] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# tipos diversos 

cosas = [12, 2, True ,"Jose", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1] )
print( cosas[ 4 ])
print( cosas [ 5 ])
print( cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper() #upper es para poner en mayusculas 
print(cosas)

[12, 2, True, 'Jose', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSE', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros =[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing 
#1. 4 al 8 
print( numeros [3:8])
#2.  [9,10]
print(numeros [-3:-1])
#3. imprimir la lsita en orden inverso [11,10,9,etc,1]
print(numeros[::-1])  #indexado negativo 
print(numeros[::1])   #indexado positivo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Crear una lista con un generador 
numeros =[x*3 for x in range(101) ] # el for es un generador 
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# funcion rango()

tienen los mismo componentes que slicing 
ini , stop , incremento 
range(1,101,1)

In [ ]:
numeros =[x for x in range(50, 101, 2) ] # patra empezar de un numero que quieras lo pones al principio 
print(numeros)                           # el ultimo numero 2 es como quieres que vaya

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

  -count: recibe un valor cuantos elementos coinciden.
  -extend: contatenar listas. 
  -index  los busca 
  -insert: resive dos variables 
  -pop: toma el ultimo elemnto y lo quita de la lsita y lo regresa
  -remove: hace lo contario que insert quieta el elelmnto y si mueves a la izquierda lo mueve 
  -reverse: las pone en orden ineverso de lista 
sort:

In [ ]:
numeros =[4,1,15,8,22,34,50 ]
print(numeros )
numeros.append(99) # se agrego el numero 99
print(numeros )
#numeros.clear() hacerlos con este metodo 
#numeros = [ ]
print(numeros )

frutas =["uvas","kiwi","manzana" ]
copia = frutas 
print( frutas)
print(copia )
frutas.append("naranja")
print(frutas)
print(copia)

#esta uya hace una copia independientede la lista original esta ya no est afectada 
colores = ["rojo","azul","blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("numero de veces que aparce el 15=", numeros.count(15))

#extend 

nombres=["jose", "pedro", "karina"]
otrosNombres =["josue","diana", "dalia"]
print(nombres)
print(otrosNombres)

nombre = nombres + otrosNombres
print(nombres)
print(otrosNombres)


#lo mismo con el metodo extend 
otrosNombres.extend(["jesus","maria","jose"])
print(otrosNombres)
print("jesus esta en la posiscion:", otrosNombres.index("jesus") )
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
numero de veces que aparce el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
jesus esta en la posiscion: 3
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria']
jose

##09 de noviembre  del 2021

#Tuplas 
### Caracteristicas de la tuplas  
- son datos agrupados 
-se declara usando#
  -()
  -tuple()
-es una estructura secuencial(esta indexada apartir de 0 al igual que las listas)
-pueden tener 0 a n elementos 
-NO SON MUTABLES (no se puede modificar eliminar cambiar)
-Son buenas para alamacenar informacion de consulta.
-pueden alamcenar informacion de diferentes tipos de dato.
-pueden estar anidadas 
-Tienen metodos utiles

In [ ]:
info = ("juan23" ,"dios1234","123.232.1.12" )
print( info )
print(info[ 1 ])
#info[ 1 ] = "patito23" es una tupla no se puede modificar 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = ( info , numeros )
print(cosas)
print (cosas[1][5:11])
print(cosas [0][2][4:7])
print(cosas [0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# metodos de las tuplas 
son los mismos que las listas pero los que no involucran mutabilidad

In [ ]:
dir(tuple)

#DICCIONARIO
### Caracteristicas de los diccionarios 

- Agrupan datos pero de forma no lineal 
- se declaran con
  -{}
  -dict()
- Formado por pares del tipo llave:valor, donde :
  - Llave es de tipo string(siempre)
  - valor puede ser de cualquier 
  tipo de datos, inclueyendo las diccionarios 
  - Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScrib (JS)

In [ ]:
alumno ={"nombre":"jose"} # son elemntos no lineales 
print(alumno)
print(alumno["nombre"])
alumno ={"nombre":"jose", "nc":"21456878913","edad":19}
print("Edad del alumno=" ,alumno["edad"])
print(alumno["nombre"].upper())

alumno2 =dict() #{ }
alumno2["nombre"] = "jose"
print(alumno2)
alumno2["nc"] = 21456878913
alumno2["edad"] =19
print(alumno2)
alumno2["edad"] =alumno2["edad"]+1
print(alumno2)

{'nombre': 'jose'}
jose
Edad del alumno= 19
JOSE
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': 21456878913, 'edad': 19}
{'nombre': 'jose', 'nc': 21456878913, 'edad': 20}

In [ ]:
cliente ={ "id":"CT2121" , 
          "nombre": "Jose Pedrazo Gonzales" , 
          "telefonos":"casa=5514897824 cel=51748912"}
print(cliente)
cliente ={ "id":"CT2121" , 
          "nombre": {
              "nombres" : ["Jose","eduardo"],
              "paterno" : "pedraza" ,
              "materno" : "rosales"
              } , 
          "telefonos":{
              "casa":"5537346928",
              "trabajo":"554789614",
              "celular":"551247984"
          },
          "productos":{
              "ahorros":{"numero _cuenta":"7788","ahorro": 2500.5},
              "tarjetas":[
                           {"tipo":"debito","saldo": 10000.5},
                           {"tipo":"credito preferente" , "limite":2500000.5},
                           {"tipo":"lite", "limite": 15000.5}
              ]
          },
          "direccion":{
              "calle":"Av. central",
              "numero":1245,
              "colonia":"impulsora",
              "delegacion":"neza",
              "estado":{
                   "clave":15,
                   "nombre_corto":"EdoMex",
                   "nombre":"Estado de Mexico"

              }
          }
          }
print( cliente["telefonos"]["casa"])
print(cliente )
print(cliente["productos"]["ahorros"]["ahorro"])
print( cliente ["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
print(cliente["productos"]["ahorros"]["ahorro"]-1500)
print(cliente ["productos"])

{'id': 'CT2121', 'nombre': 'Jose Pedrazo Gonzales', 'telefonos': 'casa=5514897824 cel=51748912'}
5537346928
{'id': 'CT2121', 'nombre': {'nombres': ['Jose', 'eduardo'], 'paterno': 'pedraza', 'materno': 'rosales'}, 'telefonos': {'casa': '5537346928', 'trabajo': '554789614', 'celular': '551247984'}, 'productos': {'ahorros': {'numero _cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 2500000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de Mexico'}}}
2500.5
15000.5
ESTADO DE MEXICO
1000.5
{'ahorros': {'numero _cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 2500000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

#11 de noviembre del 2021

In [ ]:
pelicula = {"nombre" : "Harry Potter y la piedra filosofal" ,
            "autores principales " : ["Harry, Hermione  , Ron " ] , 
            "apellidos ": "Potter, Grange ,Weasley"}
print(pelicula)
pelicula = {"director": "Chris Columbs",
            "año":"2001" ,
            "fecha de estreno": "23 de noviembre de 2001"},
print(pelicula)

{'nombre': 'Harry Potter y la piedra filosofal', 'autores principales ': ['Harry, Hermione  , Ron '], 'apellidos ': 'Potter, Grange ,Weasley'}
({'director': 'Chris Columbs', 'año': '2001', 'fecha de estreno': '23 de noviembre de 2001'},)

#Estuctura de control de programacion 

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estruycturas de control:  

1. Secuencia: 
    - la representacion de la memoria de pograma (arquitectura Vonn Newman)
2. Seleccion: 
      - Es la estrucutura de control que decide sin un bloque de pograma se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutar un bloque entre un conjunto de opciones.
      En resumen tenemos: seleccion simple, seleccion con bifurcacion y seleccion multiple.

3. Repeticion: 
      - este tipo de estrutura nos permite automizar la ejecucion repetitiva de codigo mientras ciertas condiciones a cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de pogramacion: 
    - desde ... hasta ( estructura for )
    - haz mientras (structura While)
    - haz y luego validaz mientras (estructura Do-While)

# seleccion simple 
-- documentar o poner notas 
```
la estructura if 
```
if <condicion> : 
    <cuerpo del If>

**Nota** para establecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izq.
En otro lenguajes de programcion comjava , c y c++.... se usan las llaves {} 
```
int edad =0
print("dame tu edad")
scanf("si",edad);
if (edad >=18){
  print("ERES MAYOR DE EDAD");
}
print("fin de programa")

In [ ]:
edad = int (input("dame tu edad:"))
print(f"tecleaste {edad} años ")
if edad >=18 :
    print("ERES MAYOR DE EDAD")
    print("Algo")
print("Otra cosa ")
print("Fin de programa") #los tabuladores se utilizan patra determinar la estructura

dame tu edad:16
tecleaste 16 años
Otra cosa
Fin de programa

In [ ]:
CAL = float ( input("Dame tu calificación"))
if CAL > 8:
  print("aprobado")
print("Fin del programa")

Dame tu calificación7.99
Fin del programa

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
MSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    MSUE = SUE + AUM
    print(MSUE)

Escribe el sueldo: 875.50
1006.825

# 18 de noviembre del 2021

#EStructura de seleccion con  bifurcacion (if-else)

Esta estructuraa, selecciona una de dos opciones de ejecucion, se ejecuta un bloque si la condiccion se cumple o se ejecuta otor bloque si la condicion no se cumple (else).

```
if <condicion> : 
    <bloque de ejecucion>
else:
        <bloque de ejecucion alterno>
```

In [ ]:
edad = int(input("dame tu edad:"))
print(f"teclaste {edad} años")
if edad >= 18:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu boing de mango")
print("fin del prrograma")

dame tu edad:15
teclaste 15 años
Eres menor de edad, ten tu boing de mango
fin del prrograma

In [ ]:
# $36 
edad=int(input("¿Que edad tienes?: "))
dinero=float(input("¿Cuanto dinero tienes?: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} pesos")
if edad >=18 and dinero >=36:
    print("Eres mayor de edad, ten tu cheve")
else:
    print("Eres menor de edad, ten tu boing")
print("Fin del progrma")

¿Que edad tienes?: 19
¿Cuanto dinero tienes?: 37
Tecleaste 19 años
Tecleaste 37.0 pesos
Eres mayor de edad, ten tu cheve
Fin del progrma

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
if dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 19
Cuanto dinero tienes: 60
Tecleaste 19 años
Tecleaste 60.0 dinero
Ten tu cheve
Tienes dinero suficiente pero no tienes la edad

El codigo anterior se puede simplificar usando uan plabara reservada especial que existe en algunos lenguajes de programcion

In [ ]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} años")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")

Dame tu edad: 15
Cuanto dinero tienes: 60
Tecleaste 15 años
Tecleaste 60.0 dinero
Tienes dinero suficiente pero no tienes la edad

In [ ]:
CAL= float(input("Dame tu calificiación: "))
if CAL >= 8 :
    print("Aprobado")
else: 
    print("Reprobado")

Dame tu calificiación: 7.5
Reprobado

In [ ]:
#PROBLEMA 2.4
SUE= float(input("Dame tu sueldo: "))
AUM = 0
NSUE = 0

if SUE <1000.0 :
    AUM =SUE* 0.15
    NSUE = SUE + AUM 
    print(NSUE)
else:
    AUM = SUE* 0.12
    NSUE = SUE + AUM 
print(NSUE)  #aqui no afecta el print en donde este por que va adar la misma salida

Dame tu sueldo: 1000
1120.0

In [ ]:
#PROBLEMA 2.4
SUE=float(input("Dame tu saldo: "))
if SUE<1000:
     NSUE=SUE*1.12
else:
    NSUE=SUE*1.12
print(f"Tu nuevo sueldo es:{NSUE}")

#ejerccio if-else 
### Hacer un progrma que solicita el dia de la semana de un valor numerico entero del 1 al 7(Avsarle al usuario si proporciono un valor fuera de rango).

### Posteriormente imprimira el dia de la semana correspondiente al numero capturado 

1. lunes
2. martes 

...

7. domingo

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("SÁBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 5
VIERNES

In [ ]:
dia = int(input("ingtresa un numero entre 1 y 7: "))
print(f"Capturaste el numero {dia}")

if dia >=1 and dia <= 7:
    if dia == 1:
        print("lunes")
    else:
        if dia == 2:
            print("Martes")
        else:
            if dia == 3:
                print("miercoles")
            else:
                if dia == 4:
                    print("jueves")
                else:
                    if dia == 5:
                        print("viernes")
                    else:
                        if dia == 6:
                            print("sabado")
                        else:
                                print("domingo")

                    
                
else:
    print("Ese numero no esta dentro del rango solicitado")

ingtresa un numero entre 1 y 7: 6
Capturaste el numero 6
sabado

In [ ]:
# hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente:
 
1. cual de ellos es el numero mayor
2. cual de ellos es el numero menor
 o en su defecto
Imprimir que los valores son iguales
 
""" Hacer un programa que solicite  3 numeros enteros diferentes 
entre sí  y que imprima cual de los 3 es el mayor
"""
 
""" 
Hacer un programa que solicite  3 numeros enteros diferentes 
entre sí  y que imprima cual de los 3 es el menor
"""
 
"""
Hacer un programa que solicite 4 numeros enteros diferentes entre si
e imprima a la salida cual de ellos es el menor y cual de ellos es el mayor

# Selccion multiple (switch)
en python no existe la estructura de selccion switch, en su luegar se emplea la plabara reservada:

## elif <condicion>:

por ejemplo en el lenjuage C y Java seria de la 
```
float SUE =0.0;
int CATE = 0;

print(f"Introduce la categoria:");
scanf("i", &CATE);
print("introduce el sueldo:");
scanf("f", &SUE);

switch(CATE){
    case 1:
        SUE = SUE * 1.15;
        break;
    case 3:
        SUE= SUE * 1.08;
        break;
    case 4:
        SUE = SUE * 1.07
        break;
}
print("Categoria= i, Sueldo= f"
CATE,SUE)

In [ ]:
# ejemplo 2.7
 
NUM = int (input ("dame un numero entre 1 y 3:"))
V = float (input ("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3:
    VAL = 100 / V
else:
    VAL = 0
 
print(VAL)

dame un numero entre 1 y 3:1
Dame un valor float:5
500.0

In [16]:
# ejemplo 2.8

CATE = int(input("Introduce la categoria:"))
SUE = float(input("Introduce el sueldo:"))

if CATE==1:
    SUE= SUE * 1.15;
elif CATE==2:
    SUE= SUE * 1.10;
elif CATE ==3:
    SUE== SUE * 1.08;
elif CATE== 4:
    SUE= SUE * 1.07;

print(f"Categoria= {CATE}, sueldo {SUE}")

Introduce la categoria:2
Introduce el sueldo:300
Categoria= 2, sueldo 330.0

In [13]:
A=int(input("Dame un primer numero entero: "))
B=int(input("Dame un segundo numero entero diferente: "))
C=int(input("Dame un tercer numero entero diferente: "))

if A==B==C:
    if A==B: 
        if A==C: 
            if B==C:
                print("Deben ser tres numeros diferentes")
if A>B:
    if A>C: 
        if B>C:
            print("De mayor a menor : ",A, B, C)
        else:
            print("De mayor a menor : ",A, C, B)
    else: print("De mayor a menor  : ",C, A, B)
else:
    if B>C: 
    
        if A>C:
            print("De mayor a menor : ",B, A, C)
        else:
            print("De mayor a menor : ",B, C, A)
    else: print("De mayor a menor : ",C, B, A)

print("Fin del progrma ")

Dame un primer numero entero: 8
Dame un segundo numero entero diferente: 7
Dame un tercer numero entero diferente: 9
De mayor a menor  :  9 8 7
Fin del progrma

In [20]:
# problea 2.14
TIPOENF = int(input("Introduce el tipo de enfermedad:"))
EDAD =int(input("Introduce la edad:"))
DIAS = int(input("Introduce el numero de dias:"))
COSTO = 0.0
if TIPOENF ==1:
    COSTO = DIAS * 25.0
elif TIPOENF ==2:
    COSTO = DIAS * 16.0
elif TIPOENF ==3:
    COSTO = DIAS * 20.0
elif TIPOENF ==4:
    COSTO = DIAS * 32.0

if EDAD >= 14 and EDAD <=22:
    COSTO = COSTO * 1.10
print("Costo Total =$",COSTO)
print(f"Se pago ${COSTO} pesos por {DIAS} dias de estancia")

Introduce el tipo de enfermedad:3
Introduce la edad:35
Introduce el numero de dias:4
Costo Total =$ 80.0
Se pago $80.0 pesos por 4 dias de estancia